@import "tailwindcss";

.active{
    background-color: rgba(110, 188, 255, 0.164);
    color: rgb(66, 148, 255);
    font-weight: 500;    
}

.dropside{
    display: flex;
}

.sidepanel{
    transition: width 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}