@import "tailwindcss";

*{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

.active{
    background-color: rgba(110, 188, 255, 0.164);
    color: rgb(66, 148, 255);
    font-weight: 500;    
    border-radius: 7px;
}

.dropside{
    display: flex;
}

.sidepanel{
    transition: width 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}

.dropdown{
    transition: max-height 0.3s ease-out;
}

.downarrow{
    transition: transform 0.3s ease;
}